# Task 1 - Fitbit Dataset

1. Read this dataset in pandas , mysql and mongodb 
2. while creting a table in mysql dont use manual approach to create it  ,always use a automation to create a table in mysql
 #hint - use csvkit library to automate this task and to load a data in bulk in you mysql 
3. convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format
4. Find out in this data that how many unique id's we have 
5. which id is one of the active id that you have in whole dataset 
6. how many of them have not logged there activity find out in terms of number of ids 
7. Find out who is the laziest person id that we have in dataset 
8. Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset 
9. how many person are not a regular person with respect to activity try to find out those 
10. who is the thired most active person in this dataset find out those in pandas and in sql both . 
11. who is the 5th most laziest person avilable in dataset find it out 
12. what is a totla acumulative calories burn for a person find out

# task 2 - Superstore_USA
1. load this data in sql and in pandas with a relation in sql 
2. while loading this data you dont have to create a table manually you can use any automated approach to create a table and load a data in bulk in table 
3. Find out how return that we ahve recived and with a product id 
4. try  to join order and return data both in sql and pandas 
5. Try to find out how many unique customer that we have 
6. try to find out in how many regions we are selling a product and who is a manager for a respective region 
7. find out how many different differnet shipement mode that we have and what is a percentage usablity of all the shipment mode with respect to dataset 
8. Create a new coulmn and try to find our a diffrence between order date and shipment date
9. base on question number 8 find out for which order id we have shipment duration more than 10 days 
10. Try to find out a list of a returned order which sihpment duration was more then 15 days and find out that region manager as well 
11. Gorup by region and find out which region is more profitable 
12. Try to find out overalll in which country we are giving more didscount 
13. Give me a list of unique postal code 
14. which customer segement is more profitalble find it out . 
15. try to find out the 10th most loss making product catagory . 
16. Try to find out 10 top  product with highest margins 

submit your git link for the same 
 
you have to submit this task by next Friday 5th 11PM IST  to respective mail id 
sudhanshu@ineuron.ai , sunny.savita@ineuron.ai

In [10]:
#! pip install mysql-connector-python

Collecting mysql-connector-python
  Using cached mysql_connector_python-8.0.30-cp38-cp38-win_amd64.whl (7.8 MB)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\programdata\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.1)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.30

In [25]:
#! pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [3]:
import pandas as pd

In [4]:
import mysql.connector as con

In [5]:
import pymysql

In [6]:
from sqlalchemy import create_engine

In [7]:
import pymongo

In [11]:
df = pd.read_csv('FitBit data.csv')

In [21]:
df.head()

,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
Id,,,,,,,,,,,,,,
1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

In [31]:
df2 = df.iloc[4:5,:]

In [33]:
df3 = df[df['TotalSteps'] < 11000]

In [34]:
df3

,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
Id,,,,,,,,,,,,,,
1503960366,3/30/2016,10970,7.16,7.16,0.0,2.36,0.51,4.29,0.00,30,13,223,1174,1820
1503960366,4/3/2016,10016,6.37,6.37,0.0,0.91,1.28,4.18,0.00,15,30,314,655,1850
1503960366,4/7/2016,10198,6.44,6.44,0.0,1.20,0.79,4.45,0.00,17,20,195,1208,1755
1503960366,4/10/2016,10057,6.98,6.98,0.0,4.00,0.49,2.48,0.00,44,13,168,737,1755
1503960366,4/11/2016,10990,7.26,7.26,0.0,2.04,0.57,4.65,0.00,26,14,216,855,1811
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8792009665,4/12/2016,20,0.01,0.01,0.0,0.00,0.00,0.01,0.00,0,0,6,598,728
8877689391,4/5/2016,10695,8.12,8.12,0.0,0.77,0.18,7.09,0.01,10,3,246,1181,2834
8877689391,4/7/2016,10910,8.42,8.42,0.0,2.96,0.39,5.03,0.00,32,11,212,1185,2947
8877689391,4/11/2016,10622,8.06,8.06,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
8877689391,4/12/2016,2350,1.78,1.78,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

In [32]:
df2

,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
Id,,,,,,,,,,,,,,
1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 457 entries, 1503960366 to 8877689391
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        457 non-null    object
 1   ActivityDate              457 non-null    object
 2   TotalSteps                457 non-null    int64
 3   TotalDistance             457 non-null    float64
 4   TrackerDistance           457 non-null    float64
 5   LoggedActivitiesDistance  457 non-null    float64
 6   VeryActiveDistance        457 non-null    float64
 7   ModeratelyActiveDistance  457 non-null    float64
 8   LightActiveDistance       457 non-null    float64
 9   SedentaryActiveDistance   457 non-null    float64
 10  VeryActiveMinutes         457 non-null    int64
 11  FairlyActiveMinutes       457 non-null    int64
 12  LightlyActiveMinutes      457 non-null    int64
 13  SedentaryMinutes          457 non-null    int64
 14  Calories                  457 non-null    int64
dtypes: float64(7), int64(6), object(2)
memory usage: 57.1+ KB

In [13]:
df = df.astype({'Id':str})

In [16]:
df.index = df.Id

In [20]:
df.drop('Id', axis=1, inplace=True)

In [14]:
#df.reset_index(drop=True, inplace=True)

In [5]:
#! pip uninstall -y mysql-connector

In [20]:
#mydb = con.connect(host='localhost', user='root', password='********', database='mysql_python')

In [19]:
#mydb = con.connect(host='bjzkelkbad9pb4o2jnai-mysql.services.clever-cloud.com', user='usrjugrmmjdtfig2', password='Onh3g3RCFkTzeIHe1sfr', port=3306, database='bjzkelkbad9pb4o2jnai' )

In [33]:
engine = create_engine("mysql+pymysql://" + "root" + ":" + "Abhishek@1067" + "@" + "localhost" + "/" + "mysql_python")

In [34]:
df.to_sql('fitbit_to_sql', con=engine, if_exists = 'append',index = False, chunksize = 1000)

In [51]:
engine.execute('select * from fitbit_to_sql limit 5').fetchall()

[(1503960366, '3/25/2016', 11004, 7.1100001335144, 7.1100001335144, 0.0, 2.5699999332428, 0.46000000834465, 4.07000017166138, 0.0, 33, 12, 205, 804, 1819),
 (1503960366, '3/26/2016', 17609, 11.5500001907349, 11.5500001907349, 0.0, 6.92000007629395, 0.730000019073486, 3.91000008583069, 0.0, 89, 17, 274, 588, 2154),
 (1503960366, '3/27/2016', 12736, 8.52999973297119, 8.52999973297119, 0.0, 4.65999984741211, 0.159999996423721, 3.71000003814697, 0.0, 56, 5, 268, 605, 1944),
 (1503960366, '3/28/2016', 13231, 8.93000030517578, 8.93000030517578, 0.0, 3.19000005722046, 0.790000021457672, 4.94999980926514, 0.0, 39, 20, 224, 1080, 1932),
 (1503960366, '3/29/2016', 12041, 7.84999990463257, 7.84999990463257, 0.0, 2.16000008583069, 1.0900000333786, 4.6100001335144, 0.0, 28, 28, 243, 763, 1886)]

In [22]:
client = pymongo.MongoClient("mongodb+srv://root:root@cluster0.juny6.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [23]:
print(db)

Database(MongoClient(host=['cluster0-shard-00-01.juny6.mongodb.net:27017', 'cluster0-shard-00-02.juny6.mongodb.net:27017', 'cluster0-shard-00-00.juny6.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-av6fij-shard-0', tls=True), 'test')

In [24]:
data = df.to_dict()
data

{'ActivityDate': {'1503960366': '4/12/2016',
  '1624580081': '4/12/2016',
  '1644430081': '4/10/2016',
  '1844505072': '4/12/2016',
  '1927972279': '4/12/2016',
  '2022484408': '4/12/2016',
  '2026352035': '4/12/2016',
  '2320127002': '4/12/2016',
  '2347167796': '4/12/2016',
  '2873212765': '4/12/2016',
  '2891001357': '4/5/2016',
  '3372868164': '4/10/2016',
  '3977333714': '4/12/2016',
  '4020332650': '4/12/2016',
  '4057192912': '4/12/2016',
  '4319703577': '4/9/2016',
  '4388161847': '4/5/2016',
  '4445114986': '4/12/2016',
  '4558609924': '4/12/2016',
  '4702921684': '4/12/2016',
  '5553957443': '4/12/2016',
  '5577150313': '4/11/2016',
  '6117666160': '4/10/2016',
  '6290855005': '4/10/2016',
  '6391747486': '4/9/2016',
  '6775888955': '4/9/2016',
  '6962181067': '4/12/2016',
  '7007744171': '4/12/2016',
  '7086361926': '4/12/2016',
  '8053475328': '4/12/2016',
  '8253242879': '4/12/2016',
  '8378563200': '4/12/2016',
  '8583815059': '4/8/2016',
  '8792009665': '4/12/2016',
  '8877689391': '4/12/2016'},
 'TotalSteps': {'1503960366': 224,
  '1624580081': 6627,
  '1644430081': 1329,
  '1844505072': 0,
  '1927972279': 24,
  '2022484408': 6717,
  '2026352035': 1019,
  '2320127002': 2098,
  '2347167796': 0,
  '2873212765': 0,
  '2891001357': 2063,
  '3372868164': 4662,
  '3977333714': 759,
  '4020332650': 8,
  '4057192912': 187,
  '4319703577': 0,
  '4388161847': 0,
  '4445114986': 278,
  '4558609924': 1260,
  '4702921684': 0,
  '5553957443': 3436,
  '5577150313': 2862,
  '6117666160': 0,
  '6290855005': 0,
  '6391747486': 0,
  '6775888955': 14,
  '6962181067': 5893,
  '7007744171': 7413,
  '7086361926': 430,
  '8053475328': 290,
  '8253242879': 0,
  '8378563200': 3246,
  '8583815059': 1408,
  '8792009665': 20,
  '8877689391': 2350},
 'TotalDistance': {'1503960366': 0.140000000596046,
  '1624580081': 4.30999994277954,
  '1644430081': 0.970000028610229,
  '1844505072': 0.0,
  '1927972279': 0.0199999995529652,
  '2022484408': 4.71999979019165,
  '2026352035': 0.629999995231628,
  '2320127002': 1.4099999666214,
  '2347167796': 0.0,
  '2873212765': 0.0,
  '2891001357': 1.61000001430511,
  '3372868164': 3.1800000667572,
  '3977333714': 0.569999992847443,
  '4020332650': 0.0099999997764825,
  '4057192912': 0.140000000596046,
  '4319703577': 0.0,
  '4388161847': 0.0,
  '4445114986': 0.189999997615814,
  '4558609924': 0.829999983310699,
  '4702921684': 0.0,
  '5553957443': 2.24000000953674,
  '5577150313': 2.14000010490417,
  '6117666160': 0.0,
  '6290855005': 0.0,
  '6391747486': 0.0,
  '6775888955': 0.0099999997764825,
  '6962181067': 3.90000009536743,
  '7007744171': 5.76999998092651,
  '7086361926': 0.259999990463257,
  '8053475328': 0.209999993443489,
  '8253242879': 0.0,
  '8378563200': 2.5699999332428,
  '8583815059': 1.10000002384186,
  '8792009665': 0.0099999997764825,
  '8877689391': 1.77999997138977},
 'TrackerDistance': {'1503960366': 0.140000000596046,
  '1624580081': 4.30999994277954,
  '1644430081': 0.970000028610229,
  '1844505072': 0.0,
  '1927972279': 0.0199999995529652,
  '2022484408': 4.71999979019165,
  '2026352035': 0.629999995231628,
  '2320127002': 1.4099999666214,
  '2347167796': 0.0,
  '2873212765': 0.0,
  '2891001357': 0.0,
  '3372868164': 3.1800000667572,
  '3977333714': 0.569999992847443,
  '4020332650': 0.0099999997764825,
  '4057192912': 0.140000000596046,
  '4319703577': 0.0,
  '4388161847': 0.0,
  '4445114986': 0.189999997615814,
  '4558609924': 0.829999983310699,
  '4702921684': 0.0,
  '5553957443': 2.24000000953674,
  '5577150313': 2.14000010490417,
  '6117666160': 0.0,
  '6290855005': 0.0,
  '6391747486': 0.0,
  '6775888955': 0.0099999997764825,
  '6962181067': 3.90000009536743,
  '7007744171': 4.96000003814697,
  '7086361926': 0.259999990463257,
  '8053475328': 0.209999993443489,
  '8253242879': 0.0,
  '8378563200': 2.5699999332428,
  '8583815059': 1.10000002384186,
  '8792009665': 0.0099999997764825,
  '8877689391': 1.77999997138977},
 'LoggedActivitiesDistance': {'1503960366': 0.0,
  '1624580081': 0.0,
  '1644430081': 0.0,
  '1844505072': 0.0,
  '1927972279': 0.0,
  '2022484408': 0.0,
  '2026352035': 0.0,
  '2320127002': 0.0,
  '2347167796': 0.0,
  '2873212765': 0.0,
  '2891001357': 1.60934400558472,
  '3372868164': 0.0,
  '3977333714': 0.0,
  '4020332650': 0.0,
  '4057192912': 0.0,
  '4319703577': 0.0,
  '4388161847': 0.0,
  '4445114986': 0.0,
  '4558609924': 0.0,
  '4702921684': 0.0,
  '5553957443': 0.0,
  '5577150313': 0.0,
  '6117666160': 0.0,
  '6290855005': 0.0,
  '6391747486': 0.0,
  '6775888955': 0.0,
  '6962181067': 0.0,
  '7007744171': 4.8697829246521,
  '7086361926': 0.0,
  '8053475328': 0.0,
  '8253242879': 0.0,
  '8378563200': 2.25308108329773,
  '8583815059': 0.0,
  '8792009665': 0.0,
  '8877689391': 0.0},
 'VeryActiveDistance': {'1503960366': 0.0,
  '1624580081': 0.0,
  '1644430081': 0.0,
  '1844505072': 0.0,
  '1927972279': 0.0,
  '2022484408': 3.23000001907349,
  '2026352035': 0.0,
  '2320127002': 0.0,
  '2347167796': 0.0,
  '2873212765': 0.0,
  '2891001357': 0.0,
  '3372868164': 1.03999996185303,
  '3977333714': 0.0,
  '4020332650': 0.0,
  '4057192912': 0.0,
  '4319703577': 0.0,
  '4388161847': 0.0,
  '4445114986': 0.0,
  '4558609924': 0.0,
  '4702921684': 0.0,
  '5553957443': 0.5,
  '5577150313': 1.03999996185303,
  '6117666160': 0.0,
  '6290855005': 0.0,
  '6391747486': 0.0,
  '6775888955': 0.0,
  '6962181067': 2.88000011444092,
  '7007744171': 4.5,
  '7086361926': 0.0,
  '8053475328': 0.0,
  '8253242879': 0.0,
  '8378563200': 0.829999983310699,
  '8583815059': 0.0,
  '8792009665': 0.0,
  '8877689391': 0.0},
 'ModeratelyActiveDistance': {'1503960366': 0.0,
  '1624580081': 0.0,
  '1644430081': 0.0,
  '1844505072': 0.0,
  '1927972279': 0.0,
  '2022484408': 0.219999998807907,
  '2026352035': 0.0,
  '2320127002': 0.0,
  '2347167796': 0.0,
  '2873212765': 0.0,
  '2891001357': 0.0,
  '3372868164': 0.150000005960464,
  '3977333714': 0.0,
  '4020332650': 0.0,
  '4057192912': 0.0,
  '4319703577': 0.0,
  '4388161847': 0.0,
  '4445114986': 0.0,
  '4558609924': 0.0,
  '4702921684': 0.0,
  '5553957443': 0.670000016689301,
  '5577150313': 0.25,
  '6117666160': 0.0,
  '6290855005': 0.0,
  '6391747486': 0.0,
  '6775888955': 0.0,
  '6962181067': 0.560000002384186,
  '7007744171': 0.340000003576279,
  '7086361926': 0.0,
  '8053475328': 0.0,
  '8253242879': 0.0,
  '8378563200': 0.709999978542328,
  '8583815059': 0.0,
  '8792009665': 0.0,
  '8877689391': 0.0},
 'LightActiveDistance': {'1503960366': 0.129999995231628,
  '1624580081': 4.30999994277954,
  '1644430081': 0.970000028610229,
  '1844505072': 0.0,
  '1927972279': 0.0199999995529652,
  '2022484408': 1.26999998092651,
  '2026352035': 0.629999995231628,
  '2320127002': 1.4099999666214,
  '2347167796': 0.0,
  '2873212765': 0.0,
  '2891001357': 1.61000001430511,
  '3372868164': 1.99000000953674,
  '3977333714': 0.569999992847443,
  '4020332650': 0.0099999997764825,
  '4057192912': 0.140000000596046,
  '4319703577': 0.0,
  '4388161847': 0.0,
  '4445114986': 0.189999997615814,
  '4558609924': 0.819999992847443,
  '4702921684': 0.0,
  '5553957443': 1.04999995231628,
  '5577150313': 0.839999973773956,
  '6117666160': 0.0,
  '6290855005': 0.0,
  '6391747486': 0.0,
  '6775888955': 0.0099999997764825,
  '6962181067': 0.46000000834465,
  '7007744171': 0.939999997615814,
  '7086361926': 0.259999990463257,
  '8053475328': 0.209999993443489,
  '8253242879': 0.0,
  '8378563200': 1.02999997138977,
  '8583815059': 1.10000002384186,
  '8792009665': 0.0099999997764825,
  '8877689391': 1.77999997138977},
 'SedentaryActiveDistance': {'1503960366': 0.0,
  '1624580081': 0.0,
  '1644430081': 0.0,
  '1844505072': 0.0,
  '1927972279': 0.0,
  '2022484408': 0.0,
  '2026352035': 0.0,
  '2320127002': 0.0,
  '2347167796': 0.0,
  '2873212765': 0.0,
  '2891001357': 0.0,
  '3372868164': 0.0,
  '3977333714': 0.0,
  '4020332650': 0.0,
  '4057192912': 0.0,
  '4319703577': 0.0,
  '4388161847': 0.0,
  '4445114986': 0.0,
  '4558609924': 0.0,
  '4702921684': 0.0,
  '5553957443': 0.0,
  '5577150313': 0.0,
  '6117666160': 0.0,
  '6290855005': 0.0,
  '6391747486': 0.0,
  '6775888955': 0.0,
  '6962181067': 0.0,
  '7007744171': 0.0,
  '7086361926': 0.0,
  '8053475328': 0.0,
  '8253242879': 0.0,
  '8378563200': 0.0,
  '8583815059': 0.0,
  '8792009665': 0.0,
  '8877689391': 0.0},
 'VeryActiveMinutes': {'1503960366': 0,
  '1624580081': 0,
  '1644430081': 0,
  '1844505072': 0,
  '1927972279': 0,
  '2022484408': 41,
  '2026352035': 0,
  '2320127002': 0,
  '2347167796': 0,
  '2873212765': 0,
  '2891001357': 0,
  '3372868164': 22,
  '3977333714': 0,
  '4020332650': 0,
  '4057192912': 0,
  '4319703577': 0,
  '4388161847': 0,
  '4445114986': 0,
  '4558609924': 0,
  '4702921684': 0,
  '5553957443': 7,
  '5577150313': 39,
  '6117666160': 0,
  '6290855005': 20,
  '6391747486': 0,
  '6775888955': 0,
  '6962181067': 43,
  '7007744171': 53,
  '7086361926': 0,
  '8053475328': 0,
  '8253242879': 0,
  '8378563200': 65,
  '8583815059': 0,
  '8792009665': 0,
  '8877689391': 0},
 'FairlyActiveMinutes': {'1503960366': 0,
  '1624580081': 0,
  '1644430081': 0,
  '1844505072': 0,
  '1927972279': 0,
  '2022484408': 5,
  '2026352035': 0,
  '2320127002': 0,
  '2347167796': 0,
  '2873212765': 0,
  '2891001357': 0,
  '3372868164': 4,
  '3977333714': 0,
  '4020332650': 0,
  '4057192912': 0,
  '4319703577': 0,
  '4388161847': 0,
  '4445114986': 0,
  '4558609924': 0,
  '4702921684': 0,
  '5553957443': 11,
  '5577150313': 17,
  '6117666160': 0,
  '6290855005': 0,
  '6391747486': 0,
  '6775888955': 0,
  '6962181067': 9,
  '7007744171': 6,
  '7086361926': 0,
  '8053475328': 0,
  '8253242879': 0,
  '8378563200': 15,
  '8583815059': 0,
  '8792009665': 0,
  '8877689391': 0},
 'LightlyActiveMinutes': {'1503960366': 9,
  '1624580081': 89,
  '1644430081': 35,
  '1844505072': 0,
  '1927972279': 3,
  '2022484408': 67,
  '2026352035': 64,
  '2320127002': 69,
  '2347167796': 0,
  '2873212765': 0,
  '2891001357': 630,
  '3372868164': 152,
  '3977333714': 17,
  '4020332650': 1,
  '4057192912': 11,
  '4319703577': 0,
  '4388161847': 0,
  '4445114986': 20,
  '4558609924': 76,
  '4702921684': 0,
  '5553957443': 50,
  '5577150313': 54,
  '6117666160': 0,
  '6290855005': 0,
  '6391747486': 0,
  '6775888955': 1,
  '6962181067': 48,
  '7007744171': 43,
  '7086361926': 14,
  '8053475328': 16,
  '8253242879': 0,
  '8378563200': 49,
  '8583815059': 79,
  '8792009665': 6,
  '8877689391': 58},
 'SedentaryMinutes': {'1503960366': 32,
  '1624580081': 604,
  '1644430081': 207,
  '1844505072': 426,
  '1927972279': 161,
  '2022484408': 551,
  '2026352035': 223,
  '2320127002': 617,
  '2347167796': 425,
  '2873212765': 1440,
  '2891001357': 99,
  '3372868164': 735,
  '3977333714': 187,
  '4020332650': 321,
  '4057192912': 400,
  '4319703577': 1440,
  '4388161847': 994,
  '4445114986': 253,
  '4558609924': 555,
  '4702921684': 1440,
  '5553957443': 61,
  '5577150313': 209,
  '6117666160': 1440,
  '6290855005': 494,
  '6391747486': 198,
  '6775888955': 601,
  '6962181067': 146,
  '7007744171': 405,
  '7086361926': 75,
  '8053475328': 599,
  '8253242879': 1440,
  '8378563200': 243,
  '8583815059': 1052,
  '8792009665': 598,
  '8877689391': 531},
 'Calories': {'1503960366': 50,
  '1624580081': 706,
  '1644430081': 489,
  '1844505072': 399,
  '1927972279': 942,
  '2022484408': 1140,
  '2026352035': 600,
  '2320127002': 790,
  '2347167796': 399,
  '2873212765': 0,
  '2891001357': 1144,
  '3372868164': 1276,
  '3977333714': 182,
  '4020332650': 446,
  '4057192912': 538,
  '4319703577': 0,
  '4388161847': 1296,
  '4445114986': 745,
  '4558609924': 722,
  '4702921684': 0,
  '5553957443': 633,
  '5577150313': 1511,
  '6117666160': 0,
  '6290855005': 735,
  '6391747486': 251,
  '6775888955': 787,
  '6962181067': 917,
  '7007744171': 1023,
  '7086361926': 625,
  '8053475328': 791,
  '8253242879': 0,
  '8378563200': 1882,
  '8583815059': 1814,
  '8792009665': 728,
  '8877689391': 938}}

In [59]:
#data1 = df.to_json(orient='columns')

In [25]:
db = client['tasks_ineuron']
col = db['task_fitbit']

In [26]:
col.insert_many([data])

In [27]:
col.count_documents({})

1

In [29]:
col.

In [8]:
1. Read this dataset in pandas , mysql and mongodb 
2. while creting a table in mysql dont use manual approach to create it  ,always use a automation to create a table in mysql
 #hint - use csvkit library to automate this task and to load a data in bulk in you mysql 
3. convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format
4. Find out in this data that how many unique id's we have 
5. which id is one of the active id that you have in whole dataset 
6. how many of them have not logged there activity find out in terms of number of ids 
7. Find out who is the laziest person id that we have in dataset 
8. Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset 
9. how many person are not a regular person with respect to activity try to find out those 
10. who is the thired most active person in this dataset find out those in pandas and in sql both . 
11. who is the 5th most laziest person avilable in dataset find it out 
12. what is a totla acumulative calories burn for a person find out

SyntaxError: invalid syntax (<ipython-input-8-f82a3e482287>, line 1)

In [ ]:
1503960366
:
224
1624580081
:
6627
1644430081
:
1329
1844505072
:
0
1927972279
:
24
2022484408
:
6717
2026352035
:
1019
2320127002
:
2098
2347167796
:
0
2873212765
:
0
2891001357
:
2063
3372868164
:
4662
3977333714
:
759
4020332650
:
8
4057192912
:
187
4319703577
:
0
4388161847
:
0
4445114986
:
278
4558609924
:
1260
4702921684
:
0
5553957443
:
3436
5577150313
:
2862
6117666160
:
0
6290855005
:
0
6391747486
:
0
6775888955
:
14
6962181067
:
5893
7007744171
:
7413
7086361926
:
430
8053475328
:
290
8253242879
:
0
8378563200
:
3246
8583815059
:
1408
8792009665
:
20
8877689391
:
2350

In [2]:
# import numpy as np
# import pandas as pd
# import perfplot

# perfplot.save(
#     "out.png",
#     setup=lambda n: pd.DataFrame(np.arange(n * 3).reshape(n, 3)),
#     n_range=[2**k for k in range(25)],
#     kernels=[
#         lambda df: len(df.index),
#         lambda df: df.shape[0],
#         lambda df: df[df.columns[0]].count(),
#     ],
#     labels=["len(df.index)", "df.shape[0]", "df[df.columns[0]].count()"],
#     xlabel="Number of rows",
# )